
/*
=================================================
HERO SECTION
=================================================
*/
.hero-section {
    background-color:rgb(64, 64, 64);
    background-image: url("img/bg-image.png");
    background-position: center;
    background-size: cover;
  }
  
  .hero-section h1 {
    color: white;
    font-size: 70px;
    font-weight: 900;
  }
  
  .hero-section .lead {
    color: #fff;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    font-size: 22px;
  }
  

.presentation iframe {
    width: 100%;
    max-width: 856px;
    height: 518px;
}

